<div class="container-fluid" style="background-color:black;height:250px;width: 100%;">
  <div class="row">
    <div class="col-12 col-md-3 col-lg-3 footerLogo">
      <img src="assets\Images\Logic Leaf Logo.png" alt="Logo" width="250px" height="250px">
    </div>
    <div class="col-12 col-md-3 col-lg-3">
      <p style="color: white;font-size: 30px;padding-top:2em;font-weight: bold;">We Are At</p>
      <div class="hrlinediv"></div>>
      <div>
        <h1 style="color: white;font-size: 20px;"><img src="assets\Images\location.png" alt="Logo" width="25px"
            height="20px">&nbsp;Pune</h1>
        <h1 style="color: white;font-size: 20px;"><img src="assets\Images\email.png" alt="Logo" width="25px"
            height="25px">&nbsp;<a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=logicleaf01@gmail.com"
            target="_blank">&nbsp;logicleaf01@gmail.com</a>
        </h1>
        <h1 style="color: white;font-size: 20px;"><img src="assets\Images\phone.png" alt="Logo" width="25px"
            height="25px">&nbsp; 0123456789
        </h1>
      </div>
    </div>
    <div class="col-12 col-md-3 col-lg-3">
      <p style="color: white;font-size: 30px;padding-top:2em;font-weight: bold;">Useful links</p>
      <div class="hrlinediv"></div>>
      <div>
        <a routerLink="staffingservice">Staffing Service</a><br><br>
        <a routerLink="digitalmarketing">Digital Marketing</a><br><br>
        <a routerLink="graphicsdesigning">Graphics Designing</a><br><br>
        <a routerLink="jobsearch">Job Search</a><br><br>
        <a routerLink="submitCV">Submit Your CV</a><br><br>
      </div>
    </div>
    <div class="col-12 col-md-3 col-lg-3">
      <p style="color: white;font-size: 30px;padding-top:2em;font-weight: bold;">Join Us</p>
      <div class="hrlinediv"></div>>
      <div>
        <a routerLink="asafreelancer">As a Freelancer</a><br><br>
        <a routerLink="forthepermanentrole">For the Permanent Role</a><br><br>
      </div>
    </div>
  </div>
</div>


<div class="footermanindiv">
  <footer class="footer">
    <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>
    <ul class="social-icon">
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <img src="assets\Images\Naukri Icon.png" alt="Naukri Icon" style="height:50px ;">
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <img src="assets\Images\linkedin.png" alt="linkedin" style="height:50px ;">
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <img src="assets\Images\instagram.png" alt="Instagram" style="height:50px ;">
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <img src="assets\Images\whatsapp.png" alt="Whatsapp" style="height:50px ;">
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <img src="assets\Images\facebook.png" alt="Whatsapp" style="height:50px ;">
        </a></li>
    </ul>
    <ul class="menu">
      <li class="menu__item"><a></a></li>
      <li class="menu__item"><a></a></li>
      <li class="menu__item"><a class="menu__link" routerLink="">Home</a></li>
      <li class="menu__item"><a></a></li>
      <li class="menu__item"><a></a></li>

    </ul>
    <p>&copy;2023 Logic Leaf | All Rights Reserved</p>
  </footer>
</div>