<div style="width: 100%;" fxLayout="column">
    <div fxLayout="row" style="background-color: #1a2e35; color: white;">
        <div class="detail-box"  style="width: 50%;padding-top:7rem;">
            <h1>
                Step into Success: <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Join Our Team!
            </h1>
            <h2>
                <br>
                "Join our dynamic team at Logic Leaf, where your talents find a home, and your career becomes a story of continuous success. Experience a workplace where excellence is celebrated, and your contributions shape the future we're building together."
            </h2>
        </div>
        <div  style="width: 50%;">
            <img src="assets\Images\permnant role\vector1.jpg" alt="" height="615px" width="100%">
        </div>
    </div>
</div>

<div class="container-fluid" style="height: 600px;">
    <div class="row" style="padding: 0em 4em 0em 8em;">
        <div class="col-md-6" style="margin-top: 4em;">
            <img src="assets\Images\permnant role\vector2.jpg" alt="" height="540px" width="540px"
                >
        </div>
        <div class="col-md-6 col-xs-12" style="text-align: center;padding: 2em;">
            <h1 style="margin-top: 2em;">HERE YOU GET THE BEST EXPERIENCE
            </h1>
            <h4>
                "At Logic Leaf, we set the standard for excellence, cultivating an environment where your skills flourish and career ambitions take flight. Join us for a transformative journey, with dynamic projects, a collaborative culture, and constant opportunities for innovation. Your success is not just a possibility; it's a certainty in the vibrant and rewarding experience we provide."
            </h4>
        </div>
    </div>
</div>

<div class="container-fluid" style="text-align: center;height:70%;padding:4rem;background-color: #1cbbb4;color: white;">
    <h1>Categories</h1>
    <div class="row" style="margin-top: 5rem;">
        <div class="col-md-4">
            <img src="assets\Images\As a Freelancer\human-resources (1).png" alt="" height="100px" width="100px"
                class="img-fluid">
            <p>Human Resource</p>
        </div>
        <div class="col-md-4">
            <img src="assets\Images\As a Freelancer\digital-campaign (1).png" alt="" height="100px" width="100px"
                class="img-fluid">
            <p>Digital Marketing</p>
        </div>
        <div class="col-md-4">
            <img src="assets\Images\As a Freelancer\graphic-design (1).png" alt="" height="100px" width="100px"
                class="img-fluid">
            <p>Graphic Designing</p>
        </div>
    </div>
</div>