<div>
    <img src="assets\Images\Staffing Services\12615-01.png" alt="" height="615px" width="100%">
</div>
<div class="container">
    <section>
        "We are India's leading staffing services organization, dedicated to providing top-tier workforce solutions.
        Our expertise spans across Permanent Staffing, Contractual Staffing, and Third-Party Staffing services. With
        a proven track record, we're your trusted partner in navigating India's dynamic job market.
        <br><br>
        Whether you're seeking to build a robust and committed workforce through Permanent Staffing, require
        flexibility for project-based needs with Contractual Staffing, or seek to streamline the hiring process with
        Third-Party Staffing, we deliver tailored solutions to meet your objectives.
        <br><br>
        Our experienced team collaborates closely with clients to comprehend their unique requirements, making sure
        we source and place candidates who seamlessly integrate into your organization. We handle every aspect of
        the recruitment process, from initial screening to final onboarding, saving you time and resources.
        <br><br>
        Partner with us to gain a competitive advantage in India's ever-evolving job landscape. Your success is our
        primary focus, and we're committed to delivering the talent and solutions you need for sustained growth."
    </section>
    <img src="assets\Images\Staffing Services\recrutmentprocess.jpg" alt="" width="100%" height="700px">
</div>
<!--Hr-Digital Service Content Starts-->
<div style="width: 100%;" fxLayout="column">
    <div fxLayout="row">
        <div style="width: 40%;">
            <img src="assets\Images\Staffing Services\permanantVector.jpg" alt="" height="600vh" width="100%"
                style="padding-top:5rem;">
        </div>
        <div style="width: 60%;" class="bg-dark text-white">
            <img src="assets\Images\Staffing Services\permanantInfo.png" alt="HR-ContentGif" height="600vh"
                width="100%">
        </div>
    </div>
    <div fxLayout="row">
        <div style="width: 50%;" class="bg-primary text-white">
            <img src="assets\Images\Staffing Services\ContractualInfo.png" alt="DigitalMarketing" width="100%"
                height="600vh">
        </div>
        <div style="width: 50%;">
            <img src="assets\Images\Staffing Services\ContractualVector.jpg" alt="" height="600vh" width="100%"
                class="p-5">
        </div>
    </div>
    <div fxLayout="row">
        <div style="width: 40%;">
            <img src="assets\Images\Staffing Services\thirdPartyVector.jpg" alt="HR-ContentGif" height="600vh"
                width="100%">
        </div>
        <div style="width: 60%;" class="bg-dark text-white">
            <img src="assets\Images\Staffing Services\thirdPartyInfo.png" alt="" height="600vh" width="100%">
        </div>
    </div>
</div>
<!--Hr-Digital Service Content Ends-->