<div class="card" style="width: 30rem;position: relative;padding: 0;border: 1px solid black;">
    <div class="card-body">
        <div class="ribbon-2">Permanent</div>
        <h1 class="card-title">C++ Developer</h1>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
        <h3><img src="assets\Images\jobsearch\location.png" alt="" height="30px" width="30px">Pune</h3>
    </div>
    <div style="display: flex; justify-content:space-around; background: #000;color: white;padding-top: 20px;">         
        <h3> <img src="assets\Images\jobsearch\calendar.png" alt="" height="30px" width="30px">&nbsp;&nbsp;{{dateTime|date}}</h3>
        <a href="#" class="card-link" style="text-decoration: none;font-size: 15px;color: white;"><h3>See Job Description &nbsp;<img src="assets\Images\jobsearch\right-arrow.png" height="30px" width="30px"></h3></a>
    </div>
</div>